<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose|%>
<%= dose.description %>
<br>
<br>
<% end %>
<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
<br>
<br>
<%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail.id), class: "btn btn-warning" %>
